<div class="d-flex justify-content-center py-5" *ngIf="!myDataArray">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<table class="table" *ngIf="myDataArray">
    <thead>
        <tr>
            <th>Date Created</th>
            <th>Groupchat Name</th>
            <th>Link</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="align-middle" *ngFor="let groupchat of groupchats">
            <td>{{ groupchat["created"]["seconds"] * 1000 | date: "longDate" }}</td>
            <td>{{ groupchat["name"] }}</td>
            <td><a [href]="groupchat['link']" target="_blank">{{ groupchat["link"] }}</a></td>
            <td>
                <button class="btn btn-sm btn-warning">
                    <i class="bi bi-pencil-square"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
