<div class="p-5 bg-sky-300 h-full flex justify-center items-center">
    <form class="bg-slate-200 rounded-lg shadow-lg p-5 w-2/3" [formGroup]="registrationForm" (ngSubmit)="submitForm()">
        <div class="flex gap-3 mb-3">
            <div class="flex flex-col flex-auto">
                <label for="first_name" class="mr-2 mb-2"> First Name: </label>
                <input type="text" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="first_name" id="first_name" formControlName="first_name">
            </div>
            <div class="flex flex-col flex-auto">
                <label for="middle_name" class="mr-2 mb-2"> Middle Name: </label>
                <input type="text" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="middle_name" id="middle_name" formControlName="middle_name">
            </div>
            <div class="flex flex-col flex-auto">
                <label for="last_name" class="mr-2 mb-2"> Last Name: </label>
                <input type="text" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="last_name" id="last_name" formControlName="last_name">
            </div>
        </div>
        <div class="flex gap-3 mb-3">
            <div class="flex flex-col flex-auto">
                <label for="email" class="mr-2 mb-2"> Email: </label>
                <input type="email" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="email" id="email" formControlName="email">
            </div>
            <div class="flex flex-col flex-auto">
                <label for="birthday" class="mr-2 mb-2"> Birthday: </label>
                <input type="date" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="birthday" id="birthday" formControlName="birthday">
            </div>
        </div>
        <div class="flex flex-col mb-5">
            <label for="password" class="mr-2 mb-2"> Password: </label>
            <input type="password" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="password" id="password" formControlName="password">
        </div>
        <div class="flex justify-center gap-3">
            <button role="button" type="submit" class="transition py-2 px-5 rounded-lg" [disabled]="!registrationForm.valid" [ngClass]="{' bg-slate-300': !registrationForm.valid, 'bg-red-300 shadow-lg hover:bg-red-400': registrationForm.valid }">Sign Up</button>
            <a role="button" class="transition py-2 px-5 bg-slate-50 rounded-lg shadow-lg hover:bg-slate-300" [routerLink]="'/login'">Login</a>
        </div>
    </form>
</div>

<div class="absolute top-0 right-0 p-5 w-1/4">
    <ng-container *ngIf="registrationForm.controls['first_name'].touched">
        <div class="bg-red-400 py-2 px-3 mb-3 shadow-xl rounded-lg" *ngIf="registrationForm.controls['first_name'].hasError('required')">
            Please enter your first name.
        </div>
    </ng-container>
    <ng-container *ngIf="registrationForm.controls['last_name'].touched">
        <div class="bg-red-400 py-2 px-3 mb-3 shadow-xl rounded-lg" *ngIf="registrationForm.controls['last_name'].hasError('required')">
            Please enter your last name.
        </div>
    </ng-container>
    <ng-container *ngIf="registrationForm.controls['email'].touched">
        <div class="bg-red-400 py-2 px-3 mb-3 shadow-xl rounded-lg" *ngIf="registrationForm.controls['email'].hasError('required')">
            Please enter your email address.
        </div>
        <div class="bg-red-400 py-2 px-3 mb-3 shadow-xl rounded-lg" *ngIf="registrationForm.controls['email'].hasError('email')">
            Please enter a valid email address.
        </div>
    </ng-container>
    <ng-container *ngIf="registrationForm.controls['password'].touched">
        <div class="bg-red-400 py-2 px-3 mb-3 shadow-xl rounded-lg" *ngIf="registrationForm.controls['password'].hasError('required')">
            Please enter your password.
        </div>
        <div class="bg-red-400 py-2 px-3 mb-3 shadow-xl rounded-lg" *ngIf="registrationForm.controls['password'].hasError('minlength')">
            Password too short, should be at least 8 characters.
        </div>
    </ng-container>
    <ng-container *ngIf="error.length > 0">
        <div class="bg-red-400 py-2 px-3 mb-3 shadow-xl rounded-lg">
            {{ error }}
        </div>
    </ng-container>
</div>