<div class="p-5 bg-sky-300 h-full flex justify-center items-center">
    <div class="bg-slate-200 rounded-lg shadow-lg p-5 w-2/3">
        <div class="flex gap-3 mb-3">
            <div class="flex flex-col flex-auto">
                <label for="" class="mr-2 mb-2"> First Name: </label>
                <input type="text" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="" id="">
            </div>
            <div class="flex flex-col flex-auto">
                <label for="" class="mr-2 mb-2"> Middle Name: </label>
                <input type="text" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="" id="">
            </div>
            <div class="flex flex-col flex-auto">
                <label for="" class="mr-2 mb-2"> Last Name: </label>
                <input type="text" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="" id="">
            </div>
        </div>
        <div class="flex gap-3 mb-3">
            <div class="flex flex-col flex-auto">
                <label for="" class="mr-2 mb-2"> Email: </label>
                <input type="email" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="" id="">
            </div>
            <div class="flex flex-col flex-auto">
                <label for="" class="mr-2 mb-2"> Birthday: </label>
                <input type="date" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="" id="">
            </div>
        </div>
        <div class="flex gap-3 mb-5">
            <div class="flex flex-col flex-auto">
                <label for="" class="mr-2 mb-2"> Username: </label>
                <input type="text" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="" id="">
            </div>
            <div class="flex flex-col flex-auto">
                <label for="" class="mr-2 mb-2"> Password: </label>
                <input type="password" class="py-2 px-3 w-100 shadow-lg rounded-lg" name="" id="">
            </div>
        </div>
        <div class="flex justify-center gap-3">
            <a role="button" class="py-2 px-5 bg-red-300 rounded-lg shadow-lg hover:bg-slate-300">Sign Up</a>
            <a role="button" class="py-2 px-5 bg-slate-50 rounded-lg shadow-lg hover:bg-slate-300" [routerLink]="'/login'">Login</a>
        </div>
    </div>
</div>
