<div class="top">
    <h2>New Record for {{ dateToday | date: "longDate" }} </h2>
    <button class="btn btn-warning" (click)="onBackClicked()"> Back </button>
</div>

<input type="text" class="form-control mb-3" placeholder="Search" (keyup)="searchMember($event)">

<table class="table align-middle">
    <thead>
        <tr>
            <th *ngFor="let column of displayedColumns"> {{ column }} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of filteredMembers | async">
            <td style="min-width: 300px;">{{ member["name"] }}</td>
            <td>
                <input type="number" class="form-control" [value]="member['tithes']">
            </td>
            <td>
                <input type="number" class="form-control" [value]="member['pledges']">
            </td>
            <td>
                <input type="number" class="form-control" [value]="member['mission']">
            </td>
            <td>
                <input type="number" class="form-control" [value]="member['vehicle']">
            </td>
        </tr>
    </tbody>
</table>