<div class="top">
    <h2>New Record for {{ dateToday | date: "longDate" }} </h2>
    <button mat-raised-button color="accent" (click)="onBackClicked()"> Back </button>
</div>

<mat-card class="general">
    <mat-card-content>Hee hee</mat-card-content>
</mat-card>

<div class="mat-elevation-z3">
    <mat-form-field>
        <mat-label>Search for member</mat-label>
        <input type="text" matInput (keyup)="searchMember($any($event.target).value)">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- Name -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let member"> {{ member["name"] | uppercase }} </td>
        </ng-container>
        <!-- Tithes -->
        <ng-container matColumnDef="tithes">
            <th mat-header-cell *matHeaderCellDef> Tithes </th>
            <td mat-cell *matCellDef="let member">
                <input type="number" [(ngModel)]="member['tithes']" min="0">
            </td>
        </ng-container>
        <!-- Pledges -->
        <ng-container matColumnDef="pledges">
            <th mat-header-cell *matHeaderCellDef> Pledges </th>
            <td mat-cell *matCellDef="let member">
                <input type="number" [(ngModel)]="member['pledges']" min="0">
            </td>
        </ng-container>
        <!-- Mission -->
        <ng-container matColumnDef="mission">
            <th mat-header-cell *matHeaderCellDef> Mission </th>
            <td mat-cell *matCellDef="let member">
                <input type="number" [(ngModel)]="member['mission']" min="0">
            </td>
        </ng-container>
        <!-- Vehicle -->
        <ng-container matColumnDef="vehicle">
            <th mat-header-cell *matHeaderCellDef> Vehicle </th>
            <td mat-cell *matCellDef="let member">
                <input type="number" [(ngModel)]="member['vehicle']" min="0">
            </td>
        </ng-container>
    </table>
</div>