<div class="h-100 d-flex bg-light justify-content-center align-items-center">
    <div class="card border-primary shadow" style="width: 450px">
        <span class="card-header text-bg-primary">Login</span>
        <div class="card-body">
            <form class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="submitForm()">
                <input type="text" id="email" name="email" class="form-control mb-3" placeholder="Email" formControlName="email">
                <div class="input-group mb-3">
                    <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" class="form-control" placeholder="Password" formControlName="password">
                    <button type="button" class="btn btn-primary" (mousedown)="togglePassword()" (mouseup)="togglePassword()">
                        <i class="bi bi-eye-fill"></i>
                    </button>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
