<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="m-0">New Groupchat</h1>
    <button type="button" class="btn btn-warning" (click)="_location.back()" matTooltip="Back">
        <i class="bi bi-arrow-left"></i>
    </button>
</div>
<div class="col-12 col-sm-10 col-md-6 col-lg-4">
    <div class="card border-primary">
        <span class="card-header text-bg-primary">Groupchat</span>
        <div class="card-body">
            <form class="d-flex flex-column" [formGroup]="groupchatForm" (ngSubmit)="submitForm()">
                <input type="text" class="form-control" name="groupchatName" id="groupchatName" formControlName="name" placeholder="Name">
                <input type="text" class="form-control my-3" name="groupchatLink" id="groupchatLink" formControlName="link" placeholder="Link">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!groupchatForm.valid"> Save </button>

                </div>
            </form>
        </div>
    </div>
</div>