<ng-template #loading>
    <div class="text-center py-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</ng-template>
<table class="table align-middle" *ngIf="myDataArray; else loading">
    <thead>
        <tr>
            <th>Name</th>
            <th>Lay Organization</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of myDataArray['data']">
            <td>{{ member["first_name"] }} {{ member["middle_name"] }} {{ member["last_name"] }}</td>
            <td></td>
            <td>
                <button type="button" class="btn btn-sm btn-warning" matTooltip="Info" (click)="viewMember(member['id'])">
                    <i class="bi bi-info-circle-fill"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
